<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRequestProxy" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/RequestProxy/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRequestProxy" contract="RequestProxy.IRequestProxy"
                name="WSHttpBinding_IRequestProxy">
                <identity>
                    <userPrincipalName value="YVARS\Latitude 5580" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>